[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
lxml = "*"
numpy = "*"
pandas = "*"
plotly = "*"
sqlmodel = "*"
statsmodels = "*"
streamlit = "*"
streamlit-aggrid = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
markdown = "~=3.3"
mkdocs = "*"
mkdocs-material = "*"
mypy = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
types-markdown = "*"
types-python-dateutil = "*"

[requires]
python_version = "3"

[scripts]
docs-serve = "mkdocs serve"
init = "git submodule update --init --remote --recursive"
quick = "python -m streamlit run src/gui/Home.py"
run = "python src/runner.py"
update = "git submodule update --remote --recursive"
