[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
lxml = "*"
numpy = "*"
pandas = "*"
plotly = "*"
requests = "*"
scipy = "*"
streamlit = "*"
Markdown = "*"
streamlit-aggrid = "*"
networkx = "*"
colorama = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
types-markdown = "*"
types-requests = "*"
mkdocs = "*"
mkdocs-material = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3"

[scripts]
run = "python src/runner.py"
quick = "python -m streamlit run interface.py"
init = "git submodule update --init --remote --recursive"
update = "git submodule update --remote --recursive"
docs-serve = "mkdocs serve"
